
 # .htaccess
 #
 # Curiouser and curiouser!
 #
 # function email($str){return preg_replace('/^(.*)\/(.*)/', '$2@$1', $str);}
 # Authors: Sandeep Shetty email('gmail.com/sandeep.shetty')
 #
 # Copyright (C) 2005 - date('Y') Collaboration Science,
 # http://collaborationscience.com/
 #
 # This file is part of Bombay.
 #
 # Bombay is free software; you can redistribute it and/or modify it
 # under the terms of the GNU General Public License as published by the
 # Free Software Foundation; either version 2 of the License, or (at
 # your option) any later version.
 #
 # Bombay is distributed in the hope that it will be useful, but
 # WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 # General Public License for more details.
 #
 # To read the license please visit http://www.gnu.org/copyleft/gpl.html
 #
 #
 #-------10--------20--------30--------40--------50--------60---------72


	DirectoryIndex index.php

	# Deny directory listings
	Options -Indexes

	# Follow symbolic links
	Options +FollowSymLinks


	<IfModule mod_rewrite.c>

		<IfModule mod_env.c>
			SetEnv REWRITE_ENGINE On
		</IfModule>

		RewriteEngine On
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteCond %{REQUEST_FILENAME} !-s
		RewriteCond %{REQUEST_FILENAME} !-l

#######################################################################
#
# Change the path below to the location of your index.php
# file relative to your webservers DocumentRoot.
#
#######################################################################

		RewriteRule  ^(.*)$  index.php
	</IfModule>


	# Protect .htaccess
	<Files .htaccess>
		order deny,allow
		deny from all
	</Files>